---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
SpaceAfterTemplateKeyword: true
FixNamespaceComments: true
AccessModifierOffset: -4
...
